*, ::before, ::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  position: absolute;
  background-color: black;
  color: white;
  text-align:right;
  padding-right: 5px;
  height: 5vh;
  width: calc(20vw - 5px);
  top: 1vh;
  bottom:1vh;
  font-size: 32px;
  right: calc(0.5vw + 1.5px);
  outline: 2px groove;
  outline-color: rgba(67, 110, 140, 0.91);
  outline-width:medium;
}
.output{
  position: absolute;
  top:0;
  color: red;
}
button{
  margin: 0;
  border: 0.5px solid black;
  font-size: 20px;
  font-weight: bolder;
}
button:hover{
  color: gold;
}
#container{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21vw;
  height: 38vh;
  position: relative;
  background-color: silver;
  outline: 2px groove;
  outline-color: rgba(66, 84, 96, 0.91);
  outline-width:thick;
}
#first-row, #second-row, #third-row, #fourth-row{
  font-size: 0;
}
#fifth-row{
  bottom: calc(1vh - 1px);
  position: absolute;
  font-size: 0;
}
#equals{
  height: 12vh;
  width: 5vw;
  position: fixed;
  top: 56vh;
  background-color: rgba(13, 128, 208, 0.91);
}
.number{
  position: relative;
  height: 6vh;
  width: 5vw;
  background-color: rgba(9, 9, 8, 0.72);
  color: white;
}
#clear{
  position: relative;
  height: 6vh;
  width: 10vw;
  background-color: rgba(248, 32, 49, 0.91);
  color: black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.operator{
  height: 6vh;
  width: 5vw;
  color: black;
  background-color: rgba(9, 9, 8, 0.47);
}
#zero{
  height: 6vh;
  width: 10vw;
  position: relative;
  background-color: rgba(9, 9, 8, 0.72);
  color: white;
  border-left: 2px solid black;
}
#seven, #four, #one{
  border-left: 2px solid black;
}
#multiply, #subtract, #add, .equals{
  border-right: 2px solid black;
}
#zero, #decimal, .equals{
  border-bottom: 2px solid black;
}
#divide, #multiply{
  border-top: 2px solid black;
}
